a
{
    text-decoration: none;
    display: block;
    color:whitesmoke;
    padding: 20px;
    justify-content: center;

}
nav{
    background-color: blueviolet;
    overflow: hidden;
}
a:hover
{
    background-color: yellowgreen;
}